@model DataAnnotation.Models.Designation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Designation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HRRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HRRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MARate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MARate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bonous)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bonous)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tax)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.creationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
